@import "data/style.variable.scss";

.menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 4;
    transform: translateY(-100%);
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    display: grid;
    background-color:$backgroud-color-primary;
    transition: all 0.5s;
    &_open
    {   
        transform: translateY(0);
    };
    &__close
    {
        font-size: 3rem;
        cursor: pointer;
        justify-self: end;
        margin: 20px;
    }
    &__ul
    {   
        font-size:  $font-size-normal;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items:center;
        list-style: none;
        width: 100%;
    };
    &__li{
        padding: 20px;
        margin-left:20px;
        width: 100%;
        cursor: pointer;
        text-decoration: none;
        &:link,:active,:visited{
            color: black;
            text-decoration: none;
        }
    }

    }