$light-red:#F25E5E;
$light-blue:#4a7fdd;
$light-green:#B0D9BA;
$light-yellow:#F2C438;
$light:#fafafa;
$dark:black;
$gray:#818181;

$font-size-small:1.2rem;
$font-size-normal:1.6rem;
$font-size-big:2rem;
$font-size-ultra-big:2.4rem;



$font-color-primary: $dark;
$font-color-secondary:$light;
$font-color-tertiary:$light-blue;
$font-color-danger:$light-red;
$backgroud-color-primary:$light;
$backgroud-color-secondary: $light-blue;
$backgroud-color-tertiary:$dark;